main a {
  /* Set the default state for links. */
  text-decoration: none;
  color: var(--fea-blue);

  /* Set up the background for the custom underline. */
  background-image: linear-gradient(90deg, var(--fea-pink) 0%, var(--fea-orange) 66%, var(--fea-pink) 100%);
  background-size: 0% 0.125em;
  background-repeat: no-repeat;
  background-position: left bottom;

  /* Set the transition. */
  transition: background-size 300ms linear;
}

main a:hover {
  color: var(--fea-blue);

  /* Set the "underline". */
  background-size: 100% 0.125em;
}
