main p {
  /* Make sure the paragraphs are large enough to scroll. */
  min-height: 100vh;
}

main mark {
  /* Add a bit of padding to make it look nice. */
  padding: 0 0.25em;

  /* Set up the background styles. */
  background-color: transparent;
  background-image: linear-gradient(90deg, var(--fea-orange-25), var(--fea-orange-25));
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left;

  /* Add the default transition. */
  transition: background-size 350ms linear;
}

main mark.active {
  /* Fill the background when active. */
  background-size: 100% 100%;
}
