:root {
  --fea-blue: hsl(201, 82%, 39%);
  --fea-pink: hsl(315, 69%, 49%);
  --fea-orange: hsl(14, 100%, 44%);
  --fea-blue-25: hsl(201, 82%, 39%, 0.25);
  --fea-pink-25: hsl(315, 69%, 49%, 0.25);
  --fea-orange-25: hsl(14, 100%, 44%, 0.25);
  --fea-blue-50: hsl(201, 82%, 39%, 0.5);
  --fea-pink-50: hsl(315, 69%, 49%, 0.5);
  --fea-orange-50: hsl(14, 100%, 44%, 0.5);
  --fea-blue-75: hsl(201, 82%, 39%, 0.75);
  --fea-pink-75: hsl(315, 69%, 49%, 0.75);
  --fea-orange-75: hsl(14, 100%, 44%, 0.75);
}
